<div class="center">
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

  <% if current_user %>
    <%= form.hidden_field :author, value: current_user.nickname%>
  <% end %>
  
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text, :cols => "52", :rows => "3" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
</div>