<div class="center">
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :author  %><br>
      <%= form.text_field :author, :size => 50 %>
    </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text, :cols => "52", :rows => "3" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
</div>