<nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
                <%= link_to "Home", controller: "welcome"=%>
            </li>
            <li class="nav-link">
                <%= link_to "Articles", controller: "articles"=%>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
        <li>
            <% if current_user %>
                Logged in as <%= current_user.nickname %>.
                <%= link_to "Log Out", logout_path %>
            <% else %>
                <%= link_to "Sign Up", signup_path %> or 
                <%= link_to "Log In", login_path %>
            <% end %>
        </li>
        </ul>
        
    </div>
</nav>